<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet Us</title>
  <link rel="stylesheet" href="/styles/about.css" type="text/css" />
  <%- include('partials/nav') %>
</head>
<body>
  <h1 class="about">Meet us</h1>
  <div>
    <p>

    </p>
  </div>

  <p>
    Testing display
  </p>
  <div class='main-grid'>

    <% for (let item in company) { %>
    <div class='companies-container'>
        <div class="company-logo">
          <a href= <%= company[item].company_url %> target="_blank" >
            <img src=<%= company[item].company_logo_url %> alt= <%= company[item].company_name %> style="width:200px;">
          </a>
        </div>
      <footer>
        <div class="company-details">
          <a href="/companies/<%= company[item].id %>"" ><%= company[item].company_name %></a>
        </div>
      </footer>
    </div>
    <% } %>
  </div>
</body>
</html>
